body {
     background: url("../images/urban-trains.png") no-repeat center center fixed;
     background-size: cover;
}
.jumbotron {
	background-color: black;
	color: white;
	width: 1000px;
	margin: 0 auto;
	border-radius: 6px;
	background: url("../images/trainLogo.png") no-repeat center center;
    background-size: contain;
}
h1 {
	font-size: 80px;
}
.panel-default > .panel-heading {
	background-color: steelblue;
	color: white;
	font-weight: bold;
	width: 1000px;
	margin: 0 auto;
	border-radius: 6px;
}
.panel {
	width: 1000px;
	margin: 0 auto;
	margin-top: 2%;
	background: rgba(999, 999, 999, 0.7);
}
#table-header {
	background-color: steelblue;
	color: white;
	font-weight: bold;
}
footer{
	color: white;
}
@media screen and (max-width: 980px){
	.jumbotron {
		width: 800px;
	}
	.panel-default > .panel-heading {
		width: 800px;
	}
	.panel {
		width: 800px;
	}
}
@media screen and (max-width: 768px){
	.jumbotron {
		width: 600px;
	}
	h1 {
		font-size: 60px;
		text-align: left;
		padding-left: 200px;
	}
	h2{
		text-align: left;
		padding-left: 200px;

	}
	.panel-default > .panel-heading {
		width: 600px;
	}
	.panel {
		width: 600px;
	}
}
@media screen and (max-width: 640px){
	.jumbotron {
		width: 400px;
	}
	h1 {
		font-size: 40px;
		text-align: left;
		padding-left: 105px;
	}
	h2{
		font-size: 20px;
		text-align: left;
		padding-left: 100px;

	}
	.panel-default > .panel-heading {
		width: 400px;
	}
	.panel {
		width: 400px;
	}
	#addTrain {
		padding: 20px 160px 20px 160px;

	}
	#submit {
		text-align: center;
	}
}